[submodule "libraries/LiteNetLib"]
	path = libraries/LiteNetLib
	url = https://github.com/RevenantX/LiteNetLib
[submodule "libraries/ImGui.NET"]
	path = libraries/ImGui.NET
	url = https://github.com/mellinoe/imgui.net
[submodule "libraries/MonoGame.Extended"]
	path = libraries/MonoGame.Extended
	url = https://github.com/rettoph/MonoGame.Extended
