[submodule "libraries/LiteNetLib"]
	path = libraries/LiteNetLib
	url = https://github.com/RevenantX/LiteNetLib
[submodule "libraries/ImGui.NET"]
	path = libraries/ImGui.NET
	url = https://github.com/ImGuiNET/ImGui.NET
[submodule "libraries/MonoGame"]
	path = libraries/MonoGame
	url = https://github.com/cpt-max/MonoGame
